USE [master]
GO
/****** Object:  Database [DbMvcStok]    Script Date: 27.01.2021 16:38:32 ******/
CREATE DATABASE [DbMvcStok]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DbMvcStok', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DbMvcStok.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DbMvcStok_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DbMvcStok_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DbMvcStok].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DbMvcStok]
GO
/****** Object:  Table [dbo].[tbl_admin]    Script Date: 27.01.2021 16:38:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_admin](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[kullanici] [varchar](20) NULL,
	[sifre] [varchar](20) NULL,
 CONSTRAINT [PK_tbl_admin] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_kategori]    Script Date: 27.01.2021 16:38:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_kategori](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ad] [varchar](50) NULL,
 CONSTRAINT [PK_Tbl_kategori] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_musteri]    Script Date: 27.01.2021 16:38:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_musteri](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ad] [varchar](30) NULL,
	[soyad] [varchar](30) NULL,
	[sehir] [varchar](15) NULL,
	[bakiye] [decimal](18, 2) NULL,
	[durum] [bit] NULL,
 CONSTRAINT [PK_tbl_musteri] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_personel]    Script Date: 27.01.2021 16:38:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_personel](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ad] [varchar](30) NULL,
	[soyad] [varchar](30) NULL,
	[departman] [varchar](30) NULL,
 CONSTRAINT [PK_tbl_personel] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_satislar]    Script Date: 27.01.2021 16:38:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_satislar](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[urun] [int] NULL,
	[personel] [int] NULL,
	[musteri] [int] NULL,
	[fiyat] [decimal](18, 2) NULL,
	[tarih] [smalldatetime] NULL,
 CONSTRAINT [PK_tbl_satislar] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_urunler]    Script Date: 27.01.2021 16:38:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_urunler](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ad] [varchar](50) NULL,
	[marka] [varchar](50) NULL,
	[stok] [smallint] NULL,
	[alisfiyat] [decimal](18, 2) NULL,
	[satisfiyat] [decimal](18, 2) NULL,
	[kategori] [int] NULL,
	[durum] [bit] NULL,
 CONSTRAINT [PK_Tbl_urunler] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_satislar] ADD  CONSTRAINT [DF_tbl_satislar_tarih]  DEFAULT (getdate()) FOR [tarih]
GO
ALTER TABLE [dbo].[tbl_satislar]  WITH CHECK ADD  CONSTRAINT [FK_tbl_satislar_tbl_musteri] FOREIGN KEY([musteri])
REFERENCES [dbo].[tbl_musteri] ([id])
GO
ALTER TABLE [dbo].[tbl_satislar] CHECK CONSTRAINT [FK_tbl_satislar_tbl_musteri]
GO
ALTER TABLE [dbo].[tbl_satislar]  WITH CHECK ADD  CONSTRAINT [FK_tbl_satislar_tbl_personel] FOREIGN KEY([personel])
REFERENCES [dbo].[tbl_personel] ([id])
GO
ALTER TABLE [dbo].[tbl_satislar] CHECK CONSTRAINT [FK_tbl_satislar_tbl_personel]
GO
ALTER TABLE [dbo].[tbl_satislar]  WITH CHECK ADD  CONSTRAINT [FK_tbl_satislar_Tbl_urunler] FOREIGN KEY([urun])
REFERENCES [dbo].[Tbl_urunler] ([id])
GO
ALTER TABLE [dbo].[tbl_satislar] CHECK CONSTRAINT [FK_tbl_satislar_Tbl_urunler]
GO
ALTER TABLE [dbo].[Tbl_urunler]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_urunler_Tbl_kategori] FOREIGN KEY([kategori])
REFERENCES [dbo].[Tbl_kategori] ([id])
GO
ALTER TABLE [dbo].[Tbl_urunler] CHECK CONSTRAINT [FK_Tbl_urunler_Tbl_kategori]
GO
USE [master]
GO
